
  .my-img {
    background: url("./background.png") no-repeat center center/cover;
    width: 100VW !important;
    height: 30vh !important;
  }


.overlay {
  background: rgb(87, 78, 78) !important;
  height: 30vh;
  width: 100vw;
  opacity: .6;
}

.titleName{
  font-family: Yeon Sung;
  font-size:50px ;
  font-weight: bold;
  color: orange;
}
.titleBar {
  height:10vh;
  width: auto;
  background-color: cadetblue;
}
.inputBox {
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}