
#mainblock{
	width:50%;
	height: 100%;
	margin-left: 25%;
	background-color: lightgreen;
	border: 3px solid black;
}

h2{
	background-color: lightblue;
	color: blue;
	font-size: 50px;
	text-align: center;
	margin-top: 0px;
	padding-top: 20px;
}

.enter_name{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

#input_name{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.btn{
	display: flex;
	justify-content: space-around;
}

.btn_cat{
	font-size: 20px;
}

.next_btn{
	font-size: 30px;
	margin-left: 45%;
}

.footer{
	height: 70px;
	width: 100%;
	background-color: seagreen;
	margin-top: 30px;
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
}
.text_content{
	text-align: center;
	font-size: 22px;
}

.text_content p{
	font-size: 20px;
}
.text_content .btn_cat{
	margin-left: 15px;
}

#point{
	text-align: center;
	font-size: 25px;
	float:right;
	width: 100px;
	height: 30px;
	border: 3px solid black;
	background-color: white;
}
#print_naam{
	text-align: center;
	font-size: 25px;
	float: left;
	width: 200px;
	height: 30px;
	border: 3px solid black;
	background-color: white;
}
#staked{
	margin-top: 80px;
	margin:auto;
	margin-top: 8%;
	text-align: center;
	font-size: 15px;
}

#toss{
	font-size: 24px;
	text-align: center;
}

#print_name{
	text-align: center;
	font-size: 24px;

}
.choose{
	font-size: 20px;
	text-align: center;
	color:black;
	background-color: seagreen;
	border: solid red 4px;
	margin: 10px;
}
.resultbtn{
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
	background-color: black;
	color: white;
}

.choice{
	font-size: 15px;
	display: flex;
	justify-content: space-around;
}
p{
	font-size: 15px;
	text-align: center;
}

.acknow{
	font-size: 20px;
	text-align: center;
}

h3{
	font-size: 25px;
	text-align: center;
	color: red;
}

.me{
	font-size: 25px;
	color: blue;
}
@media all and(max-width:600px) {
	/* .upper{
		display: flex;
		flex-direction: column;
	} */
	#print_naam{
		margin-left: 15px;
	}
}
